/* import the font family  */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* CSS RESET */
*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

body{
    background: url('./background.jpg') no-repeat center center/cover;
    text-align: center;
    height:100vh;
    top:0;
    left:0;
    width:100vw;
}
body::before{
    content:'';
    background:black;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position: absolute;
    z-index: -1;
    opacity:0.7;
}
.title{
    font-size:1.8rem;
    line-height: 2;
    font-family: 'Press Start 2P', cursive;
    margin:3rem auto;
    color:goldenrod;    
    animation: blink 3000ms ease infinite;
}
@keyframes blink{
    0%,100%{
        text-shadow:0 2px 20px rgba(224, 37, 37, 0.945);
    }
    50%{
        text-shadow: 0 2px 10px black;
    }
}
.message{
    font-size:2rem;
    font-weight:700;
    margin:2rem auto;
    color:rgb(44, 180, 180);
}
.er-message{
    color:red;
}
.win-message{
    text-shadow: 0 0 2px yellow;
    color:rgb(22, 190, 22);
}
.cards,.sum{
    font-size:2rem;
    margin-top:1rem;
    padding:3px;
    color:rgb(44,180,180);
    font-weight: 700;
}

.btn{
    display: block;
    height:2.5rem;
    visibility: visible;
    width:4rem;
    font-size:1rem;
    align-items: center;
    margin:2rem 1rem;
    border:1px solid black;
    background:goldenrod;
    font-weight: 700;
    border-radius:5px;
    cursor:pointer;
}
#replayBtn{
    margin:20px auto;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.008);
    box-shadow: 0 2px 2px black;
}

#yes:hover, #yes:focus{
    background:rgb(37, 88, 37);
    color:white;

}
#no:hover, #no:focus{
    background: red;
    color:white;
}

.startgame{
    height:3rem;
    margin:1rem auto;
    font-size: 1.2rem;
    width:9rem;
    border:2px solid rgb(26, 23, 23);
    border-radius:9px;
    box-shadow: 0 0 5px black inset;
    color:#094927;
    background:goldenrod;
    font-weight:700;
    cursor:pointer;
}
.startgame:hover{
    transform: scale(1.008);
    box-shadow: 0 2px 3px #094927;
}

.rules{
    font-size:1.2rem;
    margin: 2rem auto;
    text-align: center;
    padding:5px;
    color:goldenrod;
    text-shadow:0 0 4px black;
}

.confetti{
    position: absolute;
    z-index: -1; /* to make the replay button stack over it making it clickable*/
    top:0;
    left:0;
    max-height: 100vh;
    max-width:100%;
    display: block;
    margin: 0 auto;
    user-select: none;
}

#footer{
    position: fixed;
    background: black;
    color:white;
    bottom:0;
    height: 4rem;
    width:100%;
    text-align: center;
}

@media screen and (max-width:600px){
    .body::before{
        height:110%;
    }
    .title{
        margin:1rem 2rem;
        font-size:1.5rem;
    }
    .message{
        font-size:1.6rem;
        margin: 0 1rem;
    }
    .btn{
        height:2rem;
        width:6rem;
    }
    .startgame{
        font-size: 1rem;
        margin-top:-2rem;
        height: 3rem;
        width:7rem;
    }
    .cards,.sum{
    font-size:1.6rem;
    margin-top:20px;
    }
    .rules{
        font-size:1rem;
        padding:5px;
        margin: 0 auto;
    }
    #footer{
    color:white;
    font-size:0.8rem;
    bottom:0;
    height: 4rem;
    width:100%;
    text-align: center;
    }

}
